<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CurrencyConverter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>766D14611F67E3F500AA10E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>766D147A1F67E3F600AA10E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>766D14851F67E3F600AA10E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
